!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/.yardoc
/coverage/*
/db/*.sqlite3
/doc
/log/*
/public/system
/public/assets
/tags
/tmp/*
!/tmp/.keep
/rethinkdb_data/
/fcrepo4-test-data
/fcrepo4-dev-data
/valkyrie/tmp/
.byebug_history
