          <strong class="menu-heading item-with-options">Add a Work</strong>
          <ul class="item-options quick-classify">
            <li><%= link_to(
                  "New Book",
                  new_book_path,
                  class: "item-option contextual-quick-classify book-new",
                  role: 'menuitem'
                ) %>
            </li>
          </ul>

