<% if current_user %>
  <% if can?(:create, Book) %>
    <%= render 'shared/add_content' %>
  <% end %>
  <%= render 'shared/my_actions' %>
<% else %>
  <ul class="nav navbar-nav">
    <li>
      <%= link_to 'Log In', new_user_session_path, class: 'login', role: 'menuitem' %>
    </li>
  </ul>
<% end %>

