<div class="panel panel-default admin-tools">
  <div class="panel-heading">
    Admin Tools
  </div>

  <div class="panel-body">
    <ul class="nav">
      <li>
        <%= link_to "Edit", polymorphic_path([:edit, document.resource]) %>
        <%= link_to "Delete", polymorphic_path([document.resource]), method: :delete %>
      </li>
      <% if document.book? %>
        <%= render 'book_admin_list_items', document: document %>
      <% end %>
    </ul>
  </div>
</div>
