<% if document.member_ids.length > 0 %>
  <h2> Members </h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% document.members.each do |member| %>
        <tr>
          <% if member.respond_to?(:title) %>
            <td>
              <%= link_to member.title, ContextualPath.new(member.id, document.id.gsub(/^id-/,'')).show %>
            </td>
            <% if member.try(:download_id) %>
              <td> <%= link_to "Download", download_path(id: member.download_id) %> </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
