<% if document.member_ids.length > 0 %>
  <h2> Members </h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% document.members.each do |member| %>
        <% if member.respond_to?(:title) %>
          <tr>
            <td> <%= link_to member.title.to_sentence, ContextualPath.new(member.id, document.id).show %> </td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
